
[hardware_info]
build = hardware_info_build.sh
run = hardware_info_run.cfg
parser = hardware_info_parser.py

[tinymembench]
build = tinymembench_build.sh
run = tinymembench_run.cfg
parser = tinymembench_parser.py

[openssl]
build = openssl_build.sh
run = openssl_run.cfg
parser = openssl_parser.py

[coremark]
build = coremark_build.sh
run = coremark_run.cfg
parser = coremark_parser.py

[scimark]
build = scimark_build.sh
run = scimark_run.cfg
parser = scimark_parser.py

[linpack]
build = linpack_build.sh
run = linpack_run.cfg
parser = linpack_parser.py

[nbench]
build = nbench_build.sh
run = nbench_run.cfg
parser = nbench_parser.py

[lmbench]
build = lmbench_build.sh
run = lmbench_run.cfg
parser = lmbench_parser.py

[cachebench]
build = cachebench_build.sh
run = cachebench_run.cfg
parser = cachebench_parser.py

[iozone]
build = iozone_build.sh
run = iozone_run.cfg
parser = iozone_parser.py

[fio]
build = fio_build.sh
run = fio_run.cfg
parser = fio_parser.py

[dhrystone]
build = dhrystone_build.sh
run = dhrystone_run.cfg
parser = dhrystone_parser.py

[unzip]
build = unzip_build.sh
run = unzip_run.cfg
parser = unzip_parser.py

[compile]
build = compile_build.sh
run = compile_run.cfg
parser = compile_parser.py

[scimarkJava]
build = scimarkJava_build.sh
run = scimarkJava_run.cfg
parser = scimark_parser.py


[stressng]
build = stressng_build.sh
run = stressng_run.cfg
parser = stressng_parser.py

[unixbench]
build = unixbench_build.sh
run = unixbench_run.cfg
parser = unixbench_parser.py

[sysbench]
build = sysbench_build.sh
run = sysbench_run.cfg
parser = sysbench_parser.py

[hadoop]
build = hadoop_build.sh
run = hadoop_run.cfg
parser = hadoop_parser.py

[openblas]
build = openblas_build.sh
run = openblas_run.cfg
parser = openblas_parser.py

# ltp may crash down the machine
#[ltp]
#build = ltp_build.sh
#run = ltp_run.cfg
#parser = ltp_parser.py


