<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Caliper Performance: Algorithm</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS dependecies -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.date.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/summernote/dist/summernote.css"/>

    <!-- Sensei Grid CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/sensei-grid.css' %}"/>

    <!-- JS dependencies -->
    <script src="{% get_static_prefix %}js/lib/jquery/dist/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/lodash/dist/lodash.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.date.js"></script>
    <script src="{% get_static_prefix %}js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{% get_static_prefix %}js/lib/summernote/dist/summernote.js"></script>

    <!-- Sensei Grid JS -->
    <script src="{% static 'polls/js/src/sensei-grid.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-editors.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-json.js' %}"></script> 
    {% if sum %}
    <script src="{% static 'polls/js/example/algorithm/example_algorithm.js' %}"></script>
    {% endif %}
    {% if digital_sign %}
    <script src="{% static 'polls/js/example/algorithm/algorithm_sign.js' %}"></script>
    {% endif %}
    {% if digital_verify  %}
    <script src="{% static 'polls/js/example/algorithm/algorithm_verify.js' %}"></script>
    {% endif %}
    {% if hash_algorithm %}
    <script src="{% static 'polls/js/example/algorithm/algorithm_hash.js' %}"></script>
    {% endif %}
    {% if symmetric_cyphers %}
    <script src="{% static 'polls/js/example/algorithm/algorithm_symm.js' %}"></script>
    {% endif %}
    {% if unzip %}
    <script src="{% static 'polls/js/example/algorithm/algorithm_unzip.js' %}"></script>
    {% endif %}

<!-- link the caliper report css here  -->
 <link rel="stylesheet" type="text/css" href="{% static 'polls/pictures/caliper_report.css' %}"/>

<!-- To resize the windows while opening int he new window -->
<script type="text/javascript">
function changeSize( w, h){    
    window.resizeTo(w,h);
}
function movePosition( x, y){    
    window.moveTo(x,y);
}
//$( document ).ready(function() {
changeSize(1000,700);
//});
</script>
</head>

<body>
<div class="example">
    <div><input type="hidden" id="algorithm_tst" value="{{ dic_alg }}"> </div>
    
    <div class="page-header">
    <h1> Caliper Performance Tests: Algorithm </h1> 
    </div>	
  
    <div style="text-align: left;">

    <h1><small>Report Layout </small></h1>
     <p> The score of each test item is represented as the percentage of performance compared to the highest value obtained across all platform. So a value of <b>x%</b> means that the test case/scenario performance is <b> x% </b> compared to the highest scored platform, which is always given <b> 100% </b>.</br> To know the ranking calculation and actual values scored by each platform on specific test cases, please refer to the raw values excel provided along with the report. Please click <a href="{% static 'polls/pictures/score_Calculation.html' %}" target="_blank"> <b>here</b></a> for more details. </p> </br>
The <b>score summary</b> is the percentage of performance of each platform for individual test scenarios. The detailed sections shows the individual test case score(rank) in the same fashion. <br> 
 
     <h1><small>Test description </small></h1>
     <p> The test under this section evaluate various algorithm performance. These tests would impact mainly CPU and the memory subsystem, in some cases disk also would be impacted. The tools used are <br>
	1. <b>Openssl</b>: OpenSSL is a cryptography toolkit implementing the Secure Sockets Layer ( SSL v2/v3) and Transport Layer Security ( TLS v1) network protocols and related cryptography standards required by them.<br>
	All the test cases described here has been executed by openssl tool (except unzip test case). <br><br>

	2. <b>Unzip</b>: This tool is to measure the time required to extract the tar.gz file.

    </div>
	
    {% if sum %}
   <h1><small>Algorithm Score Summary</small></h1> 
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/algorithm_summary.png' %}" height="400" width="700" /> </p>
	</div>
   
    <div id="alg_comparison" class="sensei-grid"></div>
    {% endif %}
	
    {% if digital_sign %}
    <h2><small>Algorithm Score Details: Digital Sign</small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/algorithm_digital_sign.png' %}" height="400" width="800" /> </p>
	</div>
    <div id="alg_sign" class="sensei-grid"></div>
    {% endif %}
    <p><b>Note: </b> The test case names are same for Digital Verify and Digital Sign. However encryption is tested for Digital Sign and decryption is tested for Digital Verify.</p>

    {% if digital_verify  %}
    <h2><small>Algorithm Score Details: Digital Verify</small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/algorithm_digital_verify.png' %}" height="400" width="800" /> </p>
	</div>
    <div id="alg_verify" class="sensei-grid"></div>
    {% endif %}
    <p><b>Note: </b> The test case names are same for Digital Verify and Digital Sign. However encryption is tested for Digital Sign and decryption is tested for Digital Verify.</p>	

    {% if hash_algorithm %}
    <h2 id="hash"> <small>Algorithm Score Details: Hash Algorithm</small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/algorithm_hash_algorithm.png' %}" height="400" width="850" /> </p>
	</div>
    <div id="alg_hash" class="sensei-grid"></div>
    {% endif %}

    {% if symmetric_cyphers %}
    <h2 id="Symmetric Ciphers"><small>Algorithm Score Details: Symmetric Cyphers</small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/algorithm_symmetric_cyphers.png' %}" height="400" width="900" /> </p>
	</div>
    <div id="alg_symmetric" class="sensei-grid"></div>
    {% endif %}

    {% if unzip %}
    <h2><small>Algorithm Score Details: Unzip</small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/algorithm_unzip.png' %}" height="400" width="850" /> </p>
	</div>
    <div id="alg_unzip" class="sensei-grid"></div>
    {% endif %}

   </div>
</body>
</html>


