<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Caliper Performance: Application</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS dependecies -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.date.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/summernote/dist/summernote.css"/>

    <!-- Sensei Grid CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/sensei-grid.css' %}"/>

    <!-- JS dependencies -->
    <script src="{% get_static_prefix %}js/lib/jquery/dist/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/lodash/dist/lodash.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.date.js"></script>
    <script src="{% get_static_prefix %}js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{% get_static_prefix %}js/lib/summernote/dist/summernote.js"></script>

    <!-- Sensei Grid JS -->
    <script src="{% static 'polls/js/src/sensei-grid.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-editors.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-json.js' %}"></script>
    {% if sum %}
    <script src="{% static 'polls/js/example/application/example_application.js' %}"></script>
    {% endif %}
    {% if compile %}
    <script src="{% static 'polls/js/example/application/application_compile.js' %}"></script>
    {% endif %}
    {% if ebizzy_mmap_records %}
    <script src="{% static 'polls/js/example/application/application_ebizzy_mmap_records.js' %}"></script>
    {% endif %}
    {% if ebizzy_mmap_time %}
    <script src="{% static 'polls/js/example/application/application_ebizzy_mmap_time.js' %}"></script>
    {% endif %}
    {% if ebizzy_no_mmap_records %}
    <script src="{% static 'polls/js/example/application/application_ebizzy_no_mmap_records.js' %}"></script>
    {% endif %}
    {% if ebizzy_no_mmap_time %}
    <script src="{% static 'polls/js/example/application/application_ebizzy_no_mmap_time.js' %}"></script>
    {% endif %}
    {% if hadoop %}
    <script src="{% static 'polls/js/example/application/application_hadoop.js' %}"></script>
    {% endif %}
    {% if sysbench %}
    <script src="{% static 'polls/js/example/application/application_sysbench.js' %}"></script>
    {% endif %}
    {% if jdk %}
    <script src="{% static 'polls/js/example/application/application_jdk.js' %}"></script>
    {% endif %}
    {% if redis_Instance_01 %}
    <script src="{% static 'polls/js/example/application/application_redis_Instance_01.js' %}"></script>
    {% endif %}
    {% if redis_Instance_02 %}
    <script src="{% static 'polls/js/example/application/application_redis_Instance_02.js' %}"></script>
    {% endif %}
    {% if redis_Instance_03 %}
    <script src="{% static 'polls/js/example/application/application_redis_Instance_03.js' %}"></script>
    {% endif %}
    {% if redis_Instance_04 %}
    <script src="{% static 'polls/js/example/application/application_redis_Instance_04.js' %}"></script>
    {% endif %}
    {% if redis_Instance_05 %}
    <script src="{% static 'polls/js/example/application/application_redis_Instance_05.js' %}"></script>
    {% endif %}
    {% if redis_Instance_06 %}
    <script src="{% static 'polls/js/example/application/application_redis_Instance_06.js' %}"></script>
    {% endif %}
    {% if redis_Instance_07 %}
    <script src="{% static 'polls/js/example/application/application_redis_Instance_07.js' %}"></script>
    {% endif %}
    {% if redis_Instance_08 %}
    <script src="{% static 'polls/js/example/application/application_redis_Instance_08.js' %}"></script>
    {% endif %}
    {% if redis_Instance_09 %}
    <script src="{% static 'polls/js/example/application/application_redis_Instance_09.js' %}"></script>
    {% endif %}
    {% if redis_Instance_10 %}
    <script src="{% static 'polls/js/example/application/application_redis_Instance_10.js' %}"></script>
    {% endif %}

    {% if nginx_32_core_local_wrps %}
    <script src="{% static 'polls/js/example/application/application_nginx_32_core_local_wrps.js' %}"></script>
    {% endif %}
    {% if nginx_32_core_cross_wrps %}
    <script src="{% static 'polls/js/example/application/application_nginx_32_core_cross_wrps.js' %}"></script>
    {% endif %}
    {% if nginx_64_core_wrps %}
    <script src="{% static 'polls/js/example/application/application_nginx_64_core_wrps.js' %}"></script>
    {% endif %}

<!-- link the caliper report css here -->
 <link rel="stylesheet" type="text/css" href="{% static 'polls/pictures/caliper_report.css' %}"/>


<!-- To resize the windows while opening int he new window -->
<script type="text/javascript">
function changeSize( w, h){    
    window.resizeTo(w,h);
}
function movePosition( x, y){    
    window.moveTo(x,y);
}
//$( document ).ready(function() {
changeSize(1200,900);
//});
</script>
</head>
<body>
<div class="example">
    <div><input type="hidden" id="application_tst" value="{{ dic_application }}"> </div>
   
    <div class="page-header">
    <h1> Caliper Performance Tests: Application </h1> 
    </div>

  <div style="text-align: left;">
  <h1><small>Report Layout </small></h1>
     <p> The score of each test item is represented as the percentage of performance compared to the highest value obtained across all platform. So a value of <b>x%</b> means that the test case/scenario performance is <b> x% </b> compared to the highest scored platform, which is always given <b> 100% </b>.</br> To know the ranking calculation and actual values scored by each platform on specific test cases, please refer to the raw values excel provided along with the report. Please click <a href="{% static 'polls/pictures/score_Calculation.html' %}" target="_blank"> <b>here</b></a> for more details. </p> </br>
The <b>score summary</b> is the percentage of performance of each platform for individual test scenarios. The detailed sections shows the individual test case score(rank) in the same fashion. <br> 
 
  <h1><small>Test description </small></h1>
    <div style="text-align: left;">
     <p> Tests under this section captures the performace of certain application scenarios. The tools used are <br>
         1. <b>Compile</b>: Compiling a kernel in multiple threads can evaluate the multi core/multi threading capability of the system.This can be used to measure how well the platform is scaling with respect to the number of cores (equivalent to the number threads of compilation) <br>
         Test cases executed by this tool: kernel-dev_# <br><br>
	
	 2. <b>Sysbench</b>: sysbench oltp benchmark evaluate the database performance.<br>
         Test cases executed by this tool: max, avg, min and percentile<br><br>


	 3. <b>Hadoop</b>: Hibench measures the common hadoop performance parameters like <b>HadoopTerasort, HadoopWordcount, HadoopBayes, HadoopKmeans, HadoopSort, HadoopDfsioe</b> etc. <br><br>
         
	 4. <b>JDK</b>: Uses SciMark2 to evaluates the Java performance for scientific and numerical computing.It consists of five computational kernels: <b>FFT, Gauss-Seidel relaxation, Sparse matrix-multiply, Monte Carlo integration, and dense LU factorization</b>.Reports a composite score in approximate <b>Mflops (Millions of floating point operations per second)</b>.
     </p>
   
	 5. <b>Nginx</b>: Nginx tool is mainly used to measure the web server performance. <br>
         Test cases executed by this tool: nginx_32_core_local_wrps, nginx_32_core_cross_wrps and nginx_64_core_wrps<br><br>

	 6. <b>Redis</b>: Redis tool evaluate the performance of database. Redis works with an in-memory dataset.<br>
         Test cases executed by this tool: redis_Instance_#<br><br>

         <i><b>Note</b>: '#' symbol represent the numeric number.</i><br>

    </div>
	
    {% if sum %}
    <h1><small>Application Score Summary</small></h1> 
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_summary.png' %}" height="500"
    width="700" /> </p>
    </div>


    <div id="application_summary" class="sensei-grid"></div>
    {% endif %}

    {% if compile %}
    <h2 id= "Compile"> <small>Application Score Details: Compile</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_compile.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_compile" class="sensei-grid"></div>
    {% endif %}
    <p><b>Note: </b> Kernel compilation tested with varied number of threads. format is kernel-dev_#Threads</p>

    {% if ebizzy_mmap_records %}
    <h2><small>Application Score Details: Ebizzy mmap records</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_ebizzy_mmap_records.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="ebizzy-mmap-records" class="sensei-grid"></div>
    {% endif %}

    {% if ebizzy_mmap_time %}
    <h2><small>Application Score Details: Ebizzy mmap Time</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_ebizzy_mmap_time.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="ebizzy-mmap-time" class="sensei-grid"></div>
    {% endif %}

    {% if ebizzy_no_mmap_records %}
    <h2><small>Application Score Details: Ebizzy No mmap Records</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_ebizzy_no_mmap_records.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="ebizzy-no-mmap-records" class="sensei-grid"></div>
    {% endif %}

    {% if ebizzy_no_mmap_time %}
    <h2><small>Application Score Details: Ebizzy No mmap Time</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_ebizzy_no_mmap_time.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="ebizzy-no-mmap-time" class="sensei-grid"></div>
    {% endif %}

    {% if hadoop %}
    <h2><small>Application Score Details: Hadoop</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_hadoop.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_hadoop" class="sensei-grid"></div>
    {% endif %}

    {% if jdk %}
    <h2><small>Application Score Details: JDK</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_jdk.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_jdk" class="sensei-grid"></div>
    {% endif %}

    {% if sysbench %}
    <h2 id="sysbench"><small>Application Score Details: Sysbench</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_sysbench.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_sysbench" class="sensei-grid"></div>
    {% endif %}

    {% if redis_Instance_01 %}
    <h2 id="redis"><small>Application Score Details: redis_Instance_1</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_redis_Instance_01.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_redis_Instance_01" class="sensei-grid"></div>
    {% endif %}


    {% if redis_Instance_02 %}
    <h2 id="redis"><small>Application Score Details: redis_Instance_2</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_redis_Instance_02.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_redis_Instance_02" class="sensei-grid"></div>
    {% endif %}


    {% if redis_Instance_03 %}
    <h2 id="redis"><small>Application Score Details: redis_Instance_3</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_redis_Instance_03.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_redis_Instance_03" class="sensei-grid"></div>
    {% endif %}


    {% if redis_Instance_04 %}
    <h2 id="redis"><small>Application Score Details: redis_Instance_4</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_redis_Instance_04.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_redis_Instance_04" class="sensei-grid"></div>
    {% endif %}


    {% if redis_Instance_05 %}
    <h2 id="redis"><small>Application Score Details: redis_Instance_5</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_redis_Instance_05.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_redis_Instance_05" class="sensei-grid"></div>
    {% endif %}

    {% if redis_Instance_06 %}
    <h2 id="redis"><small>Application Score Details: redis_Instance_6</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_redis_Instance_06.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_redis_Instance_06" class="sensei-grid"></div>
    {% endif %}


    {% if redis_Instance_07 %}
    <h2 id="redis"><small>Application Score Details: redis_Instance_7</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_redis_Instance_07.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_redis_Instance_07" class="sensei-grid"></div>
    {% endif %}


    {% if redis_Instance_08 %}
    <h2 id="redis"><small>Application Score Details: redis_Instance_8</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_redis_Instance_08.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_redis_Instance_08" class="sensei-grid"></div>
    {% endif %}


    {% if redis_Instance_09 %}
    <h2 id="redis"><small>Application Score Details: redis_Instance_9</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_redis_Instance_09.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_redis_Instance_09" class="sensei-grid"></div>
    {% endif %}

    {% if redis_Instance_10 %}
    <h2 id="redis"><small>Application Score Details: redis_Instance_10</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_redis_Instance_10.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_redis_Instance_10" class="sensei-grid"></div>
    {% endif %}

    {% if nginx_32_core_local_wrps %}
    <h2 id="nginx_32_core_local_wrps"><small>Application Score Details: nginx_32_core_local_wrps</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_nginx_32_core_local_wrps.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_nginx_32_core_local_wrps" class="sensei-grid"></div>
    {% endif %}

    {% if nginx_32_core_cross_wrps %}
    <h2 id="nginx_32_core_cross_wrps"><small>Application Score Details: nginx_32_core_cross_wrps</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_nginx_32_core_cross_wrps.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_nginx_32_core_cross_wrps" class="sensei-grid"></div>
    {% endif %}

    {% if nginx_64_core_wrps %}
    <h2 id="nginx_64_core_wrps"><small>Application Score Details: nginx_64_core_wrps</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/application_nginx_64_core_wrps.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="application_nginx_64_core_wrps" class="sensei-grid"></div>
    {% endif %}

    <br>
    <i><b>Note</b>: wrps indicates 10000 requests per second.</i><br>
    </div>

</body>
</html>
