<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <title>Caliper Performance: CPU_MULTICORE</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS dependecies -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.date.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/summernote/dist/summernote.css"/>

    <!-- Sensei Grid CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/sensei-grid.css' %}"/>

    <!-- JS dependencies -->
    <script src="{% get_static_prefix %}js/lib/jquery/dist/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/lodash/dist/lodash.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.date.js"></script>
    <script src="{% get_static_prefix %}js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{% get_static_prefix %}js/lib/summernote/dist/summernote.js"></script>

    <!-- Sensei Grid JS -->
    <script src="{% static 'polls/js/src/sensei-grid.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-editors.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-json.js' %}"></script>
    {% if sum %}
    <script src="{% static 'polls/js/example/cpu_multicore/example_cpu.js' %}"></script>
    {% endif %}
    {% if multicore_unixbench %}
	<script src="{% static 'polls/js/example/cpu_multicore/cpu_multi_unixbench.js' %}"></script>
    {% endif %}

    {% if multicore_misc %}
	<script src="{% static 'polls/js/example/cpu_multicore/cpu_multi_misc.js' %}"></script>
    {% endif %}

    {% if openblas_efficiency_10_cores %}
        <script src="{% static 'polls/js/example/cpu_multicore/openblas_efficiency_10_cores.js' %}"></script>
    {% endif %}

    {% if openblas_value_10_cores %}
        <script src="{% static 'polls/js/example/cpu_multicore/openblas_value_10_cores.js' %}"></script>
    {% endif %}

    {% if openblas_efficiency_32_cores %}
        <script src="{% static 'polls/js/example/cpu_multicore/openblas_efficiency_32_cores.js' %}"></script>
    {% endif %}

    {% if openblas_value_32_cores %}
        <script src="{% static 'polls/js/example/cpu_multicore/openblas_value_32_cores.js' %}"></script>
    {% endif %}

    {% if openblas_efficiency_64_cores %}
        <script src="{% static 'polls/js/example/cpu_multicore/openblas_efficiency_64_cores.js' %}"></script>
    {% endif %}

    {% if openblas_value_64_cores %}
        <script src="{% static 'polls/js/example/cpu_multicore/openblas_value_64_cores.js' %}"></script>
    {% endif %}

<!-- link the caliper report css here -->
 <link rel="stylesheet" type="text/css" href="{% static 'polls/pictures/caliper_report.css' %}"/>

<!-- To resize the windows while opening int he new window -->
<script type="text/javascript">
function changeSize( w, h){    
    window.resizeTo(w,h);
}
function movePosition( x, y){    
    window.moveTo(x,y);
}
//$( document ).ready(function() {
changeSize(1000,700);
//});
</script>
</head>
<body>
<div class="example">
    <div><input type="hidden" id="cpu_multicore" value="{{ dic_cpu_multicore }}"> </div>

    <!--SKD++-->
    <div class="page-header">
    <h1> Caliper Performance Tests: CPU-Multicore </h1>
    </div>

  <div style="text-align: left;">
	<h1><small>Report Layout </small></h1>
	<p> The score of each test item is represented as the percentage of performance compared to the highest value obtained across all platform. So a value of <b>x%</b> means that the test case/	 	 scenario performance is <b> x% </b> compared to the highest scored platform, which is always given <b> 100% </b>.</br>
        To know the ranking calculation and actual values scored by each platform on specific test cases, please refer to the raw values excel provided along with the report.
        Please click <a href="{% static 'polls/pictures/score_Calculation.html' %}" target="_blank"> <b>here</b></a> for more details. </p>
	The <b>score summary</b> is the percentage of performance of each platform for individual test scenarios. The detailed sections shows the individual test case score(rank) in the same fashion. <br>
   </div>

   <div  style="text-align: left;">
     <h1><small>Test description </small></h1>
     <p>
	The test under this section evaluate single core performance of the CPU Subsystem. These tests would impact mainly CPU and the memory subsystem. Relatively low or nil stress on IO<br>
	1. <b>Stress-ng</b>: Measure sthe CPU performance by running some CPU intensive routines.<br><br>

	2. <b>Unixbench</b>: A system benchmark which test the performance of CPU and memory.<br>
	Test cases executed by this tool:<br>
	<li>
	multicore_unixbench<br><br>
	</li>
		
	3. <b>Sysbench-CPU</b>: Measure the CPU performance by finding the given number of prime numbers and measuring the time for the same.<br>
	Test cases executed by this tool:<br>
	<li>
	multicore_misc: sysbench_prime<br><br>
	</li>

	4. <b>Openblas</b>: This tool is a set of low-level routines for performing common linear algebra operations such as vector addition, scalar multiplication, dot products, linear combinations, and matrix multiplication<br>
	Test cases executed by this tool:<br>
	<li>
	openblas_value_#_cores and openblas_efficiency_#_cores 
	</li>
   </p>

	
   </div>
    {% if sum %}
    <h1><small>CPU Multi Core Score Summary</small></h1> 
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_multicore_summary.png' %}" height="400" width="700" /> </p>
	</div>
    
    <!-- <h1><small>caliper cpu comparison detail</small></h1> -->
    <div id="summary"  class="sensei-grid"></div>
    {% endif %}

    {% if multicore_misc %}
    <h2><small>CPU Score Details: Multicore Misc  </small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_multicore_multicore_misc.png' %}" height="400" width="850" /> </p>
	</div>
    <div id="multi-misc" class="sensei-grid"></div>
    {% endif %}

    {% if multicore_unixbench %}
    <h2><small>CPU Score Details: Multicore Unixbench  </small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_multicore_multicore_unixbench.png' %}" height="400" width="850" /> </p>
	</div>
    <div id="multi-unixbench" class="sensei-grid"></div>
    {% endif %}

    {% if openblas_efficiency_10_cores %}
    <h2><small>Openblas-efficiency-10-cores Score Details: Efficiency</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_multicore_openblas_efficiency_10_cores.png' %}" height="400" width="850" /> </p>
        </div>
    <div id="cpu_multicore_openblas_efficiency_10_cores" class="sensei-grid"></div>
    {% endif %}

    {% if openblas_value_10_cores %}
    <h2><small>Openblas-value-10-cores Score Details: Value</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_multicore_openblas_value_10_cores.png' %}" height="400" width="850" /> </p>
        </div>
    <div id="cpu_multicore_openblas_value_10_cores" class="sensei-grid"></div>
    {% endif %}

    {% if openblas_efficiency_32_cores %}
    <h2><small>Openblas-efficiency-32-cores Score Details: Efficiency</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_multicore_openblas_efficiency_32_cores.png' %}" height="400" width="850" /> </p>
        </div>
    <div id="cpu_multicore_openblas_efficiency_32_cores" class="sensei-grid"></div>
    {% endif %}

    {% if openblas_value_32_cores %}
    <h2><small>Openblas-value-32-cores Score Details: Value</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_multicore_openblas_value_32_cores.png' %}" height="400" width="850" /> </p>
        </div>
    <div id="cpu_multicore_openblas_value_32_cores" class="sensei-grid"></div>
    {% endif %}

    {% if openblas_efficiency_64_cores %}
    <h2><small>Openblas-efficiency-64-cores Score Details: Efficiency</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_multicore_openblas_efficiency_64_cores.png' %}" height="400" width="850" /> </p>
        </div>
    <div id="cpu_multicore_openblas_efficiency_64_cores" class="sensei-grid"></div>
    {% endif %}
    
    {% if openblas_value_64_cores %}
    <h2><small>Openblas-value-64-cores Score Details: Value</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_multicore_openblas_value_64_cores.png' %}" height="400" width="850" /> </p>
        </div>
    <div id="cpu_multicore_openblas_value_64_cores" class="sensei-grid"></div>
    {% endif %}

</div>
</body>
</html>
