<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <title>Caliper Performance: CPU</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS dependecies -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.date.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/summernote/dist/summernote.css"/>

    <!-- Sensei Grid CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/sensei-grid.css' %}"/>

    <!-- JS dependencies -->
    <script src="{% get_static_prefix %}js/lib/jquery/dist/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/lodash/dist/lodash.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.date.js"></script>
    <script src="{% get_static_prefix %}js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{% get_static_prefix %}js/lib/summernote/dist/summernote.js"></script>

    <!-- Sensei Grid JS -->
    <script src="{% static 'polls/js/src/sensei-grid.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-editors.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-json.js' %}"></script>
    {% if sum %}
    <script src="{% static 'polls/js/example/cpu/example_cpu.js' %}"></script>
    {% endif %}

    {% if sincore_double %}
    <script src="{% static 'polls/js/example/cpu/cpu_double.js' %}"></script>
    {% endif %}
    {% if sincore_float %}
	<script src="{% static 'polls/js/example/cpu/cpu_sin_float.js' %}"></script>
    {% endif %}
    {% if sincore_int %}
	<script src="{% static 'polls/js/example/cpu/cpu_sin_integer.js' %}"></script>
    {% endif %}
    {% if sincore_misc %}
	<script src="{% static 'polls/js/example/cpu/cpu_sincore_misc.js' %}"></script>
    {% endif %}
    {% if sincore_unixbench %}
	<script src="{% static 'polls/js/example/cpu/cpu_unixbench.js' %}"></script>
    {% endif %}
    {% if openblas_value %}
        <script src="{% static 'polls/js/example/cpu/openblas_value.js' %}"></script>
    {% endif %}
    {% if openblas_efficiency %}
        <script src="{% static 'polls/js/example/cpu/openblas_efficiency.js' %}"></script>
    {% endif %}

<!-- link the caliper report css here -->
 <link rel="stylesheet" type="text/css" href="{% static 'polls/pictures/caliper_report.css' %}"/>
 

<!-- To resize the windows while opening int he new window -->
<script type="text/javascript">
function changeSize( w, h){    
    window.resizeTo(w,h);
}
function movePosition( x, y){    
    window.moveTo(x,y);
}
//$( document ).ready(function() {
changeSize(1000,700);
//});
</script>
</head>
<body>
<div class="example">
    <div><input type="hidden" id="cpu_sincore" value="{{ dic_cpu_sincore }}"> </div>

    <!--SKD++-->
    <div class="page-header">
    <h1> Caliper Performance Tests: CPU-Sincore </h1>
    </div>
    <div style="text-align: left;">
	<h1><small>Report Layout </small></h1>
	<p> The score of each test item is represented as the percentage of performance compared to the highest value obtained across all platform. So a value of <b>x%</b> means that the test case/	 	 scenario performance is <b> x% </b> compared to the highest scored platform, which is always given <b> 100% </b>.</br>
        To know the ranking calculation and actual values scored by each platform on specific test cases, please refer to the raw values excel provided along with the report.
        Please click <a href="{% static 'polls/pictures/score_Calculation.html' %}" target="_blank"> <b>here</b></a> for more details. </p>
	The <b>score summary</b> is the percentage of performance of each platform for individual test scenarios. The detailed sections shows the individual test case score(rank) in the same fashion. <br>
   </div>

   <div  style="text-align: left;">
     <h1><small>Test description </small></h1>
     <p>
	The test under this section evaluate single core performance of the CPU Subsystem. These tests would impact mainly CPU and the memory subsystem. Relatively low or nil stress on IO</p>
	1. <b>Coremark</b>: CoreMark is a benchmark that aims to measure the performance of central processing units (CPU) used in embedded systems<br>
	2. <b>Linpack</b>: LINPACK is a collection of Fortran subroutines that analyze and solve linear equations and linear least-squares problems.<br>
	3. <b>Nbench</b>: NBench is a synthetic computing benchmark program developed in the mid-1990s, intended to measure a computer's CPU, FPU, and Memory System speed.<br>
	4. <b>Dhrystone</b>: Dhrystone is a synthetic computing benchmark program developed in 1984 by Reinhold P. Weicker intended to be representative of system (integer) programming<br>
	5. <b>Scimark</b>: Measure sthe CPU performance.<br>
	6. <b>Stress-ng</b>: Measure sthe CPU performance by running some CPU intensive routines.<br>
	7. <b>unixbench</b>: A system benchmark which test the performance of CPU and memory.<br>
	8. <b>sysbench-CPU</b>: Measure the CPU performance by finding the given number of prime numbers and measuring the time for the same.<br><br>

     </p>
	<p> To have a very quick reference of the hardware configurations of platforms evaluated, please refer to <a href="{%static '../static/TargetInfo/Platform_Configuration.xlsx' %}" target ="_blank"> 		<b>Platform_Configuration.xlsx </b> </a></p>
   </div>
    {% if sum %}
    <h1><small>CPU Single Score Summary</small></h1> 
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_sincore_summary.png' %}" height="400" width="700" /> </p>
	</div>
    
    <!-- <h1><small>caliper cpu comparison detail</small></h1> -->
    <div id="summary"  class="sensei-grid"></div>
    {% endif %}

    {% if sincore_double %}
    <h2><small>CPU Score Details: Sincore Double </small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_sincore_sincore_double.png' %}" height="500" width="850" /> </p>
	</div>
    <div id="sin-double" class="sensei-grid"></div>
    {% endif %}

    {% if sincore_float %}
    <h2><small>CPU Score Details: Single Core Float </small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_sincore_sincore_float.png' %}" height="400" width="850" /> </p>
	</div>
    <div id="sin-float" class="sensei-grid"></div>
    {% endif %}

    {% if sincore_int %}
	<h2 id= "Single Core Integer"><small>CPU Score Details: Single Core Integer </small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_sincore_sincore_int.png' %}" height="400" width="800" /> </p>
	</div>
    <div id="sin-int" class="sensei-grid"></div>
    {% endif %}

    {% if sincore_misc %}
    <h2 id="Single Core Misc" ><small>CPU Score Details: Single Core Misc </small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_sincore_sincore_misc.png' %}" height="400" width="850" /> </p>
	</div>
    <div id="sincore-misc" class="sensei-grid"></div>
    {% endif %}

    {% if sincore_unixbench %}
    <h2><small>CPU Score Details: Single Core Unixbench </small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_sincore_sincore_unixbench.png' %}" height="400" width="850" /> </p>
	</div>
    <div id="sin-unixbench" class="sensei-grid"></div>
    {% endif %}

    {% if openblas_value %}
    <h2><small>Openblas-value Score Details: Value</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_sincore_openblas_value.png' %}" height="400" width="850" /> </p>
        </div>
    <div id="cpu_sincore_openblas_value" class="sensei-grid"></div>
    {% endif %}

    {% if openblas_efficiency %}
    <h2><small>Openblas-efficiency Score Details: Efficiency</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/cpu_sincore_openblas_efficiency.png' %}" height="400" width="850" /> </p>
        </div>
    <div id="cpu_sincore_openblas_efficiency" class="sensei-grid"></div>
    {% endif %}

    
</div>
</body>
</html>
