<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Caliper Performance: Disk</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS dependecies -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.date.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/summernote/dist/summernote.css"/>

    <!-- Sensei Grid CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/sensei-grid.css' %}"/>

    <!-- JS dependencies -->
    <script src="{% get_static_prefix %}js/lib/jquery/dist/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/lodash/dist/lodash.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.date.js"></script>
    <script src="{% get_static_prefix %}js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{% get_static_prefix %}js/lib/summernote/dist/summernote.js"></script>

    <!-- Sensei Grid JS -->
    <script src="{% static 'polls/js/src/sensei-grid.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-editors.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-json.js' %}"></script>
    {% if sum %}
    <script src="{% static 'polls/js/example/disk/example_disk.js' %}"></script>
    {% endif %}
    {% if Iozone_Cached %}
    <script src="{% static 'polls/js/example/disk/disk_cached.js' %}"></script>
    {% endif %}
    {% if Iozone_DirectIO %}
    <script src="{% static 'polls/js/example/disk/disk_directIO.js' %}"></script>
    {% endif %}
    <!-- Custom CSS for this example -->
    <style type="text/css">
        .example {
            width: 940px;
            margin: 50px auto;
            padding: 0 20px;
        }
        .sensei-grid {
            margin-bottom: 20px;
        }
        h1 {
            font-weight: bold;
            line-height: normal;
        }
    </style>

</head>
<body>
<div class="example">
    <div><input type="hidden" id="disk_tst" value="{{ dic_disk }}"> </div>
    
    <!--SKD++-->
    <div class="page-header">
    <h1> Caliper Performance Tests: Disk </h1> 
    </div>

    {% if sum %}
    <h1><small>Disk Score Summary</small></h1> <!--SKD++-->
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/disk_summary.png' %}" height="500"
    width="700" /> </p>
    </div>

    <!-- <h1><small>caliper disk comparison detail</small></h1> -->
    <div id="disk-summary" class="sensei-grid"></div>
    {% endif %}

    {% if Iozone_Cached %}
    <h2><small>Disk Score Details: iozone cached </small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/disk_Iozone-Cached.png' %}" height="500"
    width="700" /> </p>
	</div>

    <div id="disk-cached" class="sensei-grid"></div>
    {% endif %}

    {% if Iozone_DirectIO %}
    <h2><small>Disk Score Details: iozone Direct IO </small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/disk_Iozone-DirectIO.png' %}" height="500"
    width="700" /> </p>
    </div>

    <div id="disk-directIO" class="sensei-grid"></div>
    {% endif %}

    </div>
</body>
</html>
