<!DOCTYPE html>
<html>
<head>
    <title>Data sample collection and variability check</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/pictures/caliper_report.css' %}"/>	
</head>

<body>

<h1> Data sample collection and variability check </h1>
<p>
Caliper relies on the statistical techniques to check the variation in the collected samples.   
If <b> CV </b> is found to be high, then the resulting test tool/test suite has been analysed and configuration has been tuned. </br>
If the variation is caused by the errraneous test execution then iteration has been continued to get an agreeable <b>CV</b>. </br>
Current report of caliper has been created after <b> 5 iterative executions</b>. </br> 
The figure below shows the exact method used for final report generation.
</p>
<div style="text-align: center;">
<img src="Caliper-iteration.png" />
<div style="text-align: left;">

</body>
</html>

