<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Caliper Functional: Kernel</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS dependecies -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.date.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/summernote/dist/summernote.css"/>

    <!-- Sensei Grid CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/sensei-grid.css' %}"/>

    <!-- JS dependencies -->
    <script src="{% get_static_prefix %}js/lib/jquery/dist/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/lodash/dist/lodash.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.date.js"></script>
    <script src="{% get_static_prefix %}js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{% get_static_prefix %}js/lib/summernote/dist/summernote.js"></script>

    <!-- Sensei Grid JS -->
    <script src="{% static 'polls/js/src/sensei-grid.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-editors.js' %}"></script> 
    <script src="{% static 'polls/js/src/sensei-json.js' %}"></script>
    {% if sum %}
    <script src="{% static 'polls/js/example/kernel/example_kernel.js' %}"></script>
    {% endif %}

<!-- link the caliper report css here -->
 <link rel="stylesheet" type="text/css" href="{% static 'polls/pictures/caliper_report.css' %}"/>


</head>
<body>
<div class="example">
    <div><input type="hidden" id="kernel_tst" value="{{ dic_kernel }}"> </div>

  
    <div class="page-header">
    <h1> Caliper Functional Tests: Kernel </h1> 
    </div>

     <div style="text-align: left;">
     <p> The test under this section is mainly targetted towards the functional and feature testing of kernel .</p>
  <h1><small>Report Layout </small></h1>
     <p> The scores of each scenario  shown below is followed by the participating tests cases from each of these scenarios. Remember the scores are based on the percentile ranking across each participating platforms which is already discussed <a href="{% static 'polls/pictures/score_Calculation.html' %}" target="_blank"> <b>here.</b></a>    </p>
   <h1><small>Test description </small></h1>
     <p>
Currently Caliper does functional testing of kernel mainly through LTP(Linux Test Project)   </p>

	<p> To have a very quick reference of the hardware configurations of platforms evaluated, please refer to <a href="{%static '../static/TargetInfo/Platform_Configuration.xlsx' %}" target ="_blank"> <b>Platform_Configuration.xlsx </b> </a>
    </div>

    {% if sum %}
    <h1><small>Kernel Score Summary</small></h1> 
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/kernel_summary.png' %}" height="450"
    width="700" /> </p>
	</div>
    
 
    <div id="kernel-summary" class="sensei-grid"></div>
    {% endif %}

    <p> <b>Note:</b>: These scores are based on how many tests test pass or fail (functional tests). 
                      For some platforms all functional tests are passed. Hence, such cases, the score will be 100</p>	
    </div>

</body>
</html>
