<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Caliper Performance: Latency</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS dependecies -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.date.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/summernote/dist/summernote.css"/>

    <!-- Sensei Grid CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/sensei-grid.css' %}"/>

    <!-- JS dependencies -->
    <script src="{% get_static_prefix %}js/lib/jquery/dist/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/lodash/dist/lodash.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.date.js"></script>
    <script src="{% get_static_prefix %}js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{% get_static_prefix %}js/lib/summernote/dist/summernote.js"></script>

    <!-- Sensei Grid JS -->
    <script src="{% static 'polls/js/src/sensei-grid.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-editors.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-json.js' %}"></script>
    {% if sum %}
    <script src="{% static 'polls/js/example/latency/example_latency.js' %}"></script>
    {% endif %}
    {% if ctx %}
    <script src="{% static 'polls/js/example/latency/latency_ctx.js' %}"></script>
    {% endif %}
    {% if file_vm %}
    <script src="{% static 'polls/js/example/latency/latency_file_vm.js' %}"></script>
    {% endif %}
    {% if process %}
    <script src="{% static 'polls/js/example/latency/latency_process.js' %}"></script>
    {% endif %}
    {% if mem %}
    <script src="{% static 'polls/js/example/latency/latency_mem.js' %}"></script>
    {% endif %}
    {% if rttest %}
    <script src="{% static 'polls/js/example/latency/latency_rttest.js' %}"></script>
    {% endif %}

 <!-- link the caliper report css here  -->
 <link rel="stylesheet" type="text/css" href="{% static 'polls/pictures/caliper_report.css' %}"/>

<!-- To resize the windows while opening int he new window -->
<script type="text/javascript">
function changeSize( w, h){    
    window.resizeTo(w,h);
}
function movePosition( x, y){    
    window.moveTo(x,y);
}
//$( document ).ready(function() {
changeSize(1000,700);
//});
</script>
</head>


<body>
<div class="example">
    <div><input type="hidden" id="latency_tst" value="{{ dic_lat }}"> </div>


    <div class="page-header">
    <h1> Caliper Performance Tests: Latency </h1> 
    </div>

    <div style="text-align: left;">
     <p> The test under this section is mainly targetted towards the performance evaluation of Latency in the sytems through various benchmarking tests which exercises it.</p>
 
	<h1><small>Report Layout </small></h1>
	<p> The score of each test item is represented as the percentage of performance compared to the highest value obtained across all platform. So a value of <b>x%</b> means that the test case/	 	 scenario performance is <b> x% </b> compared to the highest scored platform, which is always given <b> 100% </b>.</br>
        To know the ranking calculation and actual values scored by each platform on specific test cases, please refer to the raw values excel provided along with the report.
        Please click <a href="{% static 'polls/pictures/score_Calculation.html' %}" target="_blank"> <b>here</b></a> for more details. </p>
	The <b>score summary</b> is the percentage of performance of each platform for individual test scenarios. The detailed sections shows the individual test case score(rank) in the same fashion. <br>

   <h1><small>Test description </small></h1>
    <p> Tests under this section captures the performace of the system measuring latencies for various system operations using following tools: <br>
         1. <b>LMBENCH</b>: This is a series of micro benchmarks intended to measure basic operating system and hardware system metrics.<br>
	 All test cases are executed by lmbench tool.
   </p>
	
    </div>

    {% if sum %}
    <h1><small>Latency Score Summary</small></h1> 
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/latency_summary.png' %}"
    height="400" width="700" /> </p>
	</div>


    <div id="lat-summary" class="sensei-grid"></div>
    {% endif %}

    {% if ctx %}
    <h2 id="Context Switch"><small>Latency Score Details: Context Switch</small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/latency_ctx.png' %}" height="400" width="750" /> </p>
	</div>
    <div id="lat-ctx" class="sensei-grid"></div>
    {% endif %}

    {% if file_vm %}
    <h2><small>Latency Score Details: File/VM Latency</small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/latency_file_vm.png' %}" height="400" width="700" /> </p>
	</div>
    <div id="lat-file-vm" class="sensei-grid"></div>
    {% endif %}

    {% if process %}
    <h2><small>Latency Score Details: Process Latency</small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/latency_process.png' %}" height="400" width="750" /> </p>
	</div>
    <div id="lat-process" class="sensei-grid"></div>
    {% endif %}

    {% if mem %}
    <h2><small>Latency Score Details: Memory Latency</small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/latency_mem.png' %}" height="400" width="750" /> </p>
	</div>
    <div id="lat-memory" class="sensei-grid"></div>
    {% endif %}

    {% if rttest %}
    <h2><small>Latency Score Details: Real Time Latency</small></h2>
	<div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/latency_rttest.png' %}" height="400" width="750" /> </p>
	</div>
    <div id="lat-real-time" class="sensei-grid"></div>
    {% endif %}

    </div>
</body>
</html>
