<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Caliper Performance: Network</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS dependecies -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.date.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/summernote/dist/summernote.css"/>

    <!-- Sensei Grid CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/sensei-grid.css' %}"/>

    <!-- JS dependencies -->
    <script src="{% get_static_prefix %}js/lib/jquery/dist/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/lodash/dist/lodash.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.date.js"></script>
    <script src="{% get_static_prefix %}js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{% get_static_prefix %}js/lib/summernote/dist/summernote.js"></script>

    <!-- Sensei Grid JS -->
    <script src="{% static 'polls/js/src/sensei-grid.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-editors.js' %}"></script> 
    <script src="{% static 'polls/js/src/sensei-json.js' %}"></script>
    {% if sum %}
    <script src="{% static 'polls/js/example/network/example_network.js' %}"></script>
    {% endif %}
    {% if local_lat %}
    <script src="{% static 'polls/js/example/network/network_local_lat.js' %}"></script>
    {% endif %}
    {% if bandwidth %}
    <script src="{% static 'polls/js/example/network/network_bandwidth.js' %}"></script>
    {% endif %}

 <!-- link the caliper report css here -->
 <link rel="stylesheet" type="text/css" href="{% static 'polls/pictures/caliper_report.css' %}"/>


</head>
<body>
<div class="example">
    <div><input type="hidden" id="network_tst" value="{{ dic_net }}"> </div>
    

    <div class="page-header">
    <h1> Caliper Performance Tests: Network </h1> 
    </div>


   <div style="text-align: left;">
	<h1><small>Report Layout </small></h1>
	<p> The score of each test item is represented as the percentage of performance compared to the highest value obtained across all platform. So a value of <b>x%</b> means that the test case/	 	 scenario performance is <b> x% </b> compared to the highest scored platform, which is always given <b> 100% </b>.</br> 
        To know the ranking calculation and actual values scored by each platform on specific test cases, please refer to the raw values excel provided along with the report. 
        Please click <a href="{% static 'polls/pictures/score_Calculation.html' %}" target="_blank"> <b>here</b></a> for more details. </p>
	The <b>score summary</b> is the percentage of performance of each platform for individual test scenarios. The detailed sections shows the individual test case score(rank) in the same fashion. <br> 
   </div>
  
	
 
   
    <div style="text-align: left;">
	<h1><small>Test description </small></h1>
 <p>
       The test under this section is mainly targetted towards the performance evaluation of Network subsystem through various benchmarking tests which exercises the same such as <br>
         1. <b>Netperf</b> : Netperf is a benchmark that can be used to measure various aspects of networking performance. <br>
	 Test cases executed by this tool: <br>
	 <li>
	   TCP_RR, TCP_stream_r, TCP_CRR, TCP_stream and UDP_RR
	 </li><br>

         2. <b>Iperf </b>:   Iperf is a commonly-used network testing tool that can create Transmission Control Protocol (TCP) and User Datagram Protocol (UDP). <br> 
	 Test cases executed by this tool: <br><br>
	 <li>
	   TCP_s#_RX and TCP_s#_TX
	 </li><br>

	 3. <b>Qperf</b>: qperf measures bandwidth and latency between two nodes. It can work over TCP/IP as well as the RDMA transports.<br>
	 Test cases executed by this tool: <br><br>
	 <li>
	   TCP_bw_#B and TCP_lat_#B
	 </li><br>

         4. <b>Lmbench</b> : lmbench is a series of micro benchmarks intended to measure basic operating system and hardware system metrics. <br>
	 Test cases executed by this tool: <br><br>
	 <li>
	   Pipe, AF_Unix, UDP, TCP_con and TCP<br><br>
	 </li>

	<i><b>Note</b>: '#' symbol represents the numeric number.</i><br>
     </p>
   </div>
	 
	 {% if sum %}
    <h1><small>Network Score Summary</small></h1> 
  	    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/network_summary.png' %}" height="500" width="750" /> </p>
	</div>
    
    <div id="network-summary" class="sensei-grid"></div>
    {% endif %}

    {% if bandwidth %}
    <h2><small>Network Score Details: Bandwidth</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/network_bandwidth.png' %}" height="400" width="850" /> </p>
	</div>
    <div id="network-bandwidth" class="sensei-grid"></div>
    {% endif %}

    <p><b>Notes: </b><br>a) This uses iperf to test the network packet handling  of individual platform. Test format is Transmission protocol_ parrellel threads to transmit TCP_s5 - TCP protocol , number of parrellel threads to transmit=5. Each transmittion duration is 50 sec.<br>b)Moonshot platforms are tested in HP Lab remotely where the inter-chasis connection speed was 10GE. This looks like the major reason for its higher scores.</p>

    {% if local_lat %}
    <h2><small>Network Score Details: Local Latency</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/network_local_lat.png' %}" height="400" width="850" /> </p>
	</div>
    <div id="network-lat" class="sensei-grid"></div>
    {% endif %}


</div>
</body>
</html>
