<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Caliper Performance: Storage</title>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS dependecies -->
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/pickadate/lib/themes/classic.date.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}js/lib/summernote/dist/summernote.css"/>

    <!-- Sensei Grid CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/sensei-grid.css' %}"/>

    <!-- JS dependencies -->
    <script src="{% get_static_prefix %}js/lib/jquery/dist/jquery.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/lodash/dist/lodash.min.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.js"></script>
    <script src="{% get_static_prefix %}js/lib/pickadate/lib/picker.date.js"></script>
    <script src="{% get_static_prefix %}js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="{% get_static_prefix %}js/lib/summernote/dist/summernote.js"></script>

    <!-- Sensei Grid JS -->
    <script src="{% static 'polls/js/src/sensei-grid.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-editors.js' %}"></script>
    <script src="{% static 'polls/js/src/sensei-json.js' %}"></script>
    {% if sum %}
    <script src="{% static 'polls/js/example/storage/example_storage.js' %}"></script>
    {% endif %}
    {% if Iozone_Cached %}
    <script src="{% static 'polls/js/example/storage/disk_cached.js' %}"></script>
    {% endif %}
    {% if Iozone_DirectIO %}
    <script src="{% static 'polls/js/example/storage/disk_directIO.js' %}"></script>
    {% endif %}
    {% if bandwidth %}
    <script src="{% static 'polls/js/example/storage/io_bandwidth.js' %}"></script>
    {% endif %}
    {% if iops %}
    <script src="{% static 'polls/js/example/storage/io_iops.js' %}"></script>
    {% endif %}
	
<!-- link the caliper report css here -->
<link rel="stylesheet" type="text/css" href="{% static 'polls/pictures/caliper_report.css' %}"/>


<!-- To resize the windows while opening int he new window -->
<script type="text/javascript">
function changeSize( w, h){    
    window.resizeTo(w,h);
}
function movePosition( x, y){    
    window.moveTo(x,y);
}
//$( document ).ready(function() {
changeSize(1000,700);
//});
</script>
</head>
<body>
<div class="example">
    <div><input type="hidden" id="storage_tst" value="{{ dic_storage }}"> </div>
    

    <div class="page-header">
    <h1> Caliper Performance Tests: Storage </h1> 
   </div>
 
   <div style="text-align: left;">
	<h1><small>Report Layout </small></h1>
	<p> The score of each test item is represented as the percentage of performance compared to the highest value obtained across all platform. So a value of <b>x%</b> means that the test case/	 	 scenario performance is <b> x% </b> compared to the highest scored platform, which is always given <b> 100% </b>.</br> 
        To know the ranking calculation and actual values scored by each platform on specific test cases, please refer to the raw values excel provided along with the report. 
        Please click <a href="{% static 'polls/pictures/score_Calculation.html' %}" target="_blank"> <b>here</b></a> for more details. </p>
	The <b>score summary</b> is the percentage of performance of each platform for individual test scenarios. The detailed sections shows the individual test case score(rank) in the same fashion. <br> 
   </div>

 <h1><small>Test description </small></h1>
    
     <p> 
     Tests under this section captures the performace of disk and file system.<br>
     1. <b>Iozone</b>: This is a filesystem benchmark tool. The benchmark tests file I/O performance for the following operations. <b> Read, write, re-read, re-write, read backwards, read strided, fread, fwrite, random read/write etc </b> <br>
	Test cases executed by this tool:<br>
	<li>
	   Iozone-Cached and Iozone-DirectIO<br><br>
	</li>


     2. <b>Fio</b>: This is the most powerful IO benchmarking tool available today which is very flexible to create various io workloads and to execute them. <br> 
	Test cases executed by this tool:<br><br>
	<li>
	   bandwidth and iops
	</li>

    {% if sum %}
    <h1><small>Storage Score Summary</small></h1> 
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/storage_summary.png' %}" height="500"
    width="700" /> </p>
    </div>
    <!-- <h1><small>caliper disk comparison detail</small></h1> -->
    <div id="storage-summary" class="sensei-grid"></div>
    {% endif %}

    {% if Iozone_Cached %}
    <h2><small>Storage Score Details: iozone cached </small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/storage_Iozone-Cached.png' %}" height="500"
    width="700" /> </p>
	</div>
    <div id="disk-cached" class="sensei-grid"></div>
    {% endif %}

    {% if Iozone_DirectIO %}
    <h2><small>Storage Score Details: iozone Direct IO </small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/storage_Iozone-DirectIO.png' %}" height="500"
    width="700" /> </p>
    </div>
    <div id="disk-directIO" class="sensei-grid"></div>
    {% endif %}

    {% if bandwidth %}
    <h2><small>Storage Score Details: Bandwidth</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/storage_bandwidth.png' %}" height="500"
    width="700" /> </p>
	</div>
    <div id="io-bandwidth" class="sensei-grid"></div>
    {% endif %}

    {% if iops %}
    <h2><small>Storage Score Details: iops</small></h2>
    <div style="text-align: center;">
    <p> <img src="{% static 'polls/pictures/storage_iops.png' %}" height="500"
    width="700" /> </p>
	</div>
    <div id="io-iops" class="sensei-grid"></div>
    {% endif %}

    </div>
</body>
</html>
